<div th:fragment="corpo1">

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="#{request.contextPath}/index.jsf" class="site_title"><i class="fa fa-ship"></i>
							<span>Safira Comex</span></a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div class="profile">
						<div class="profile_pic">
							<img src="#{request.contextPath}/images/img.jpg" alt="..."
								class="img-circle profile_img"> </img>
						</div>
						<div class="profile_info">
							<span>Bem vindo,</span>
							<h2>Anderson Daniel</h2>
						</div>
					</div>
					<!-- /menu profile quick info -->

					<br />
					<form>
						<!-- sidebar menu -->
						<div id="sidebar-menu"
							class="main_menu_side hidden-print main_menu">
							<div class="menu_section">
								<h3>Administrador</h3>
								<ul class="nav side-menu">
									<li><a><i class="fa fa-home"></i> Geral <span
											class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><th:commandLink action="/pages/estufe.xhtml">Estufe</th:commandLink></li>
											<li><th:commandLink
													action="/pages/terminaisdescarga.xhtml">Terminais Descarga</th:commandLink></li>
											<li><th:commandLink
													action="/pages/terminaisemissao.xhtml">Terminais de Emissão</th:commandLink></li>
											<li><th:commandLink action="/pages/notify.xhtml">Notify</th:commandLink>
											</li>
											<li><th:commandLink action="/pages/armador.xhtml">Armador</th:commandLink>
											</li>
										</ul></li>
									<li><a><i class="fa fa-users"></i> Clientes <span
											class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><th:commandLink action="/pages/cliente.xhtml">Clientes</th:commandLink></li>
										</ul></li>
									<li><a><i class="fa fa-file-text"></i> Matriz <span
											class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><th:commandLink action="/pages/cadastroMatriz.xhtml">Cadastrar Matriz</th:commandLink>
											</li>
											<li><th:commandLink action="/pages/consultaMatriz.xhtml">Pesquisar Matriz</th:commandLink></li>
											<li><th:commandLink
													action="/pages/pesquisaAcompanhamentoDeEmbarque.xhtml">Pesquisar Embarque</th:commandLink>
											</li>
										</ul></li>
									<li><a><i class="fa fa-user"></i> Funcionários <span
											class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><th:commandLink action="/pages/estufe.jsf">Departamentos</th:commandLink>
											</li>
											<li><th:commandLink action="/pages/funcionario.xhtml">Cadastrar Funcionários</th:commandLink></li>
											<li><th:commandLink action="/pages/estufe.jsf">Pesquisar Funcionários</th:commandLink></li>
										</ul></li>
									<li><a><i class="fa fa-bar-chart-o"></i> Financeiro <span
											class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><th:commandLink action="/pages/estufe.jsf">Relátorio de Faturamento</th:commandLink></li>
										</ul></li>
									<li><a><i class="fa fa-clone"></i>Auditoria <span
											class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li><th:commandLink action="#">Auditoria</th:commandLink></li>
										</ul></li>
								</ul>
							</div>
						</div>
					</form>
					<!-- /sidebar menu -->
				</div>
			</div>


			<!-- top navigation -->
			<div class="top_nav">
				<div class="nav_menu">
					<nav>
					<div class="nav toggle">
						<a id="menu_toggle"><i class="fa fa-bars"></i></a>
					</div>

					<ul class="nav navbar-nav navbar-right">
						<li class=""><a href="javascript:;"
							class="user-profile dropdown-toggle" data-toggle="dropdown"
							aria-expanded="false"> <img src="#{request.contextPath}/images/img.jpg" alt="">Anderson
									Daniel </img> <span class=" fa fa-angle-down"></span>
						</a>
							<ul class="dropdown-menu dropdown-usermenu pull-right">
								<li><a href="javascript:;"> Perfil</a></li>
								
								<li><a href="login.html"><i
										class="fa fa-sign-out pull-right"></i> Sair</a></li>
							</ul></li>

						<li role="presentation" class="dropdown"><a
							href="javascript:;" class="dropdown-toggle info-number"
							data-toggle="dropdown" aria-expanded="false"> <i
								class="fa fa-envelope-o"></i> <span class="badge bg-green">7</span>
						</a>
							<ul id="menu1" class="dropdown-menu list-unstyled msg_list"
								role="menu">
								<li><a> <span class="image"><img
											src="#{request.contextPath}/images/img.jpg" alt="Profile Image" /></span> <span> <span>John
												Smith</span> <span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>
								<li><a> <span class="image"><img
											src="#{request.contextPath}/images/img.jpg" alt="Profile Image" /></span> <span> <span>John
												Smith</span> <span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>
								<li><a> <span class="image"><img
											src="#{request.contextPath}/images/img.jpg" alt="Profile Image" /></span> <span> <span>John
												Smith</span> <span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>
								<li><a> <span class="image"><img
											src="#{request.contextPath}/images/img.jpg" alt="Profile Image" /></span> <span> <span>John
												Smith</span> <span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>
								<li>
									<div class="text-center">
										<a> <strong>Mostrar todos os Alertas</strong> <i
											class="fa fa-angle-right"></i>
										</a>
									</div>
								</li>
							</ul></li>
					</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->


			<!-- page content -->
	<div class="right_col" role="main">

				<!-- /top tiles -->
			
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
<!-- 		<div class="dashboard_graph"> -->
<!-- 			<div class="x_content"> -->
 			
 				<div class="ui-g" id="corpo">

</div>