<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
   	
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
   	
   	<script src="/js/alert.js"></script>

    <head>
        <title>Hello World!</title>
    </head>

    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        
<div sec:authorize="isAuthenticated()">
    1. This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('ADMIN')">
    2. This content is only shown to administrators. sec:authorize="hasRole('ADMIN')
</div>
<div sec:authorize="hasRole('USER')">
    3. This content is only shown to users. sec:authorize="hasRole('USER')
</div>

<div th:if="${#httpServletRequest.isUserInRole('ROLE_USER')}">
    4. This content is only shown to users. th:if="${#httpServletRequest.isUserInRole('ROLE_USER')
</div>

<div th:if="${#httpServletRequest.isUserInRole('ROLE_USER')}">
    5. This content no one should see. th:if="${#httpServletRequest.isUserInRole('XXX')
</div>

<div sec:authorize="hasAuthority('USER')">
    6. There is used sec:authorize="hasAuthority('ADMIN')
</div>
<div sec:authorize="hasAuthority('ADMIN')">
    7. There is used sec:authorize="hasAuthority('USER')
</div>

<span th:if="'{auth.inMemoryAuthentication()}' == 'true'" class="label label-success" th:text="entrou">Okk</span>


</body>
</html>

